@page
@model IndexModel
@{
ViewData["Title"] = "Accueil";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<body>

    <h1 class="card-title mb-0">Demandes de Valeur Foncière Faciles</h1>

    <form id="query-form" class="query-form" method="post">

        <div class="row">
            <div class="col">
                <div class="form-outline">
                    <label asp-for="input.communalCode" class="control-label"></label>
                    <input id="communal-code" asp-for="input.communalCode" placeholder="Code INSEE"  class="form-control" />
                    <span asp-validation-for="input.communalCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label asp-for="input.section" class="control-label"></label>
                    <input id="section" asp-for="input.section" placeholder="Section Cadastrale"  class="form-control" />
                    <span asp-validation-for="input.section" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-outline">
                    <label asp-for="input.planNumber" class="control-label"></label>
                    <input id="plan-number" asp-for="input.planNumber" placeholder="Identifiant de la Parcelle" class="form-control" />
                    <span asp-validation-for="input.planNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label asp-for="input.zipCode" class="control-label"></label>
                    <input id="zipcode" asp-for="input.zipCode"  placeholder="Code Postal"  class="form-control" />
                    <span asp-validation-for="input.zipCode"class="text-danger"></span>
                </div>
            </div>
        </div>

		<button id="query-submit" type="submit" asp-page-handler="Submit" class="btn btn-primary btn-block mb-3">Recherche</button>
	</form>

    


@*     <hr class="transition">

    <div class="help-preview">
            <br>
            <br>
            <h2>Utilisation</h2>
            <h4 id="formattage">Formattage:</h4>
            <p>Il suffit de taper a la suite un mot clé suivi de sa valeur.<br>
                Dans le cas de plusieurs mots clés, les séparer d'un <b>&</b>.
            </p>
            <br>
            <br>
            <h4 id="mots-cle">Mots clés:</h4>
            <table class="tableau">
                <thead>
                    <tr>
                        <th>Mot clé</th>
                        <th>Description</th>
                        <th>Exemple de valeur</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>code_commune</td>
                        <td>code INSEE de la commune</td>
                        <td>94068</td>
                    </tr>
                    <tr>
                        <td>section</td>
                        <td>section cadastrale</td>
                        <td>94068000CQ</td>
                    </tr>
                    <tr>
                        <td>numero_plan</td>
                        <td>identifiant de la parcelle</td>
                        <td>94068000CQ0110</td>
                    </tr>
                    <tr>
                        <td>code_postal</td>
                        <td>code postal</td>
                        <td>83200</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h4 id="exemples">Exemples:</h4>
            <ul>
                <li>code_commune=94068</li>
                <li>section=94068000CQ</li>
                <li>numero_plan=94068000CQ0110</li>
                <li>lat=48.85&amp;lon=2.35</li>
                <li>lat=48.85&amp;lon=2.35&amp;dist=200</li>
                <li>code_postal=89110&amp;type_local=Maison</li>
            </ul>
    </div> *@

    <script src="~/js/index.js"></script>
</body>