@page
@model IndexModel
@{
ViewData["Title"] = "Accueil";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<body>

    <h1 class="card-title mb-0 title">Demandes de Valeur Foncière Faciles</h1>

    @{
        if(ViewData["ResultNumber"] != null) {
                <div class="flex-rectangle">Aucune entrée n'a été trouvée dans la base de données. Le fichier de résultats ne sera pas généré.</div>
            
        }
    }

    <form id="query-form" class="form-style-7" method="post">
        <ul>
            <li>
                <label asp-for="input.communalCode" class="control-label" hidden></label>
                <input type="text" id="communal-code" asp-for="input.communalCode" class="form-control" />
                <span>Code INSEE de la Commune</span>
            </li>
            <li>
                <label asp-for="input.section" class="control-label" hidden></label>
                <input type="text" id="section" asp-for="input.section"  class="form-control" />
                <span>Section Castradale</span>
            </li>
            <li>
                <label asp-for="input.planNumber" class="control-label" hidden></label>
                <input type="text" id="plan-number" asp-for="input.planNumber" class="form-control" />
                <span>Identifiant de la Parcelle</span>
            </li>
            <li>
                <label asp-for="input.zipCode" class="control-label" hidden></label>
                <input type="text" id="zipcode" asp-for="input.zipCode"  class="form-control" />
                <span>Code Postal</span>
            </li>
            <li>
                <button id="query-submit" type="submit" asp-page-handler="Submit" class="btn btn-primary btn-block mb-3">Recherche</button>
            </li>
        </ul>
    </form>


@*     <hr class="transition">

    <div class="help-preview">
            <br>
            <br>
            <h2>Utilisation</h2>
            <h4 id="formattage">Formattage:</h4>
            <p>Il suffit de rentrer au minimum un critère afin de lancer la création et le téléchargement du fichier résultat. Ci dessous sont présentés des<br>
            </p>
            <br>
            <br>
            <h4 id="mots-cle">Mots clés:</h4>
            <table class="tableau">
                <thead>
                    <tr>
                        <th>Mot clé</th>
                        <th>Description</th>
                        <th>Exemple de valeur</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>code_commune</td>
                        <td>code INSEE de la commune</td>
                        <td>94068</td>
                    </tr>
                    <tr>
                        <td>section</td>
                        <td>section cadastrale</td>
                        <td>94068000CQ</td>
                    </tr>
                    <tr>
                        <td>numero_plan</td>
                        <td>identifiant de la parcelle</td>
                        <td>94068000CQ0110</td>
                    </tr>
                    <tr>
                        <td>code_postal</td>
                        <td>code postal</td>
                        <td>83200</td>
                    </tr>
                </tbody>
            </table>
            <br>
    </div> *@

    <script src="~/js/index.js"></script>
</body>